global:
  domain: argocd.homelab

server:
  replicas: 2
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - argocd.homelab
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      cert-manager.io/cluster-issuer: "letsencrypt-production"
    tls:
      - hosts:
          - argocd.homelab
        secretName: argocd-tls

configs:
  params:
    "server.insecure": "true"

controller:
  replicas: 2
  resources:
    requests:
      cpu: 100m
      memory: 128Mi

repoServer:
  replicas: 3
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 4Gi

applicationSet:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 128Mi

redis:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
