global:
  domain: argocd.local

server:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi

controller:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi

repoServer:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi

applicationSet:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi

redis:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
