global:
  domain: argocd.local

server:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - argocd.local
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      cert-manager.io/cluster-issuer: "selfsigned"
    tls:
      - hosts:
          - argocd.local
        secretName: argocd-tls

configs:
  params:
    "server.insecure": "true"

controller:
  replicas: 1
  resources:
    requests:
      cpu: 100m
      memory: 128Mi

repoServer:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi

applicationSet:
  replicas: 1
  resources:
    requests:
      cpu: 50m
      memory: 64Mi

redis:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
